.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.discoverButton {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.discoverButton:hover {
  background: #000;
  color: #fff;
}

.addToBagWrapper {
  display: flex;
  gap: 10px; /* Space between buttons */
  height: 50px;
}

.addToBagButton {
  flex: 1;
  background: #333;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToBagButton:hover {
  background: #000;
}

.wishlistButton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 10;
}

.wishlistButton:hover {
  border-color: #000;
}
